@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "nunito";
    src: url('../public/fonts/Nunito-VariableFont_wght.ttf');
}

@font-face {
    font-family: "crazy";
    src: url('../public/fonts/Holysweet-rgn4K.otf');
}

@layer components {

    .navbar-left-arrow,
    .navbar-right-arrow {
        @apply relative flex items-center justify-center h-12 w-12 bg-slate-700 text-slate-200 hover:bg-[#272727] rounded-3xl hover:rounded-xl transition-all;
    }

    .navbar-left-text {
        @apply absolute w-auto p-2 m-2 min-w-max right-14 rounded-md shadow-md text-white bg-slate-700 text-base font-bold transition-all scale-0;
    }

    .navbar-right-text {
        @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-slate-700 text-base font-bold transition-all scale-0;
    }

    .socials {
        @apply relative flex items-center justify-center h-12 w-12 bg-slate-700 text-white hover:scale-110 rounded-3xl transition-all
    }

    .button {
        @apply absolute w-[150px] h-[40px] rounded-lg hover:bg-[#1A1A1A] hover:scale-105 transition-all;
    }

    .scroll-fade {
        animation: projectReveal;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }

    @keyframes projectReveal {
        from {
            opacity: 0;
            scale: 0.5;
        }

        to {
            opacity: 1;
            scale: 1;
        }
    }

    .hover-zoom {
        @apply hover:scale-105 transition-all
    }

    .hover-zoom-large {
        @apply hover:scale-125 transition-all
    }

    .experience-vertical-line {
        @apply absolute bottom-0 left-1/2 items-center -translate-x-1/2 h-[400px] w-[5px] bg-[#CECECE];
    }

    .experience-logo {
        @apply absolute flex justify-center items-center top-12 left-1/2 -translate-x-1/2 h-[80px] w-[80px] rounded-full bg-[#CECECE];
    }

    .experience-card {
        @apply absolute top-14 w-[400px] h-auto bg-[#1A1A1A] p-8 rounded-lg;
    }

    .experience-date {
        @apply absolute top-16 translate-y-2 w-auto h-auto
    }




    .profile-picture {
        @apply relative w-[250px] h-[250px] bg-[#1A1A1A] rounded-full;
    }
    
    .profile-picture:after,
    .profile-picture::after {
        content: '';
        position: absolute;
        inset: -5px;
        background-image: conic-gradient(
            #ff4545,
            #00ff99,
            #006aff,
            #ff0095,
            #ff4545
        );
        border-radius: 50%;
        z-index: -1;
        animation: spin-this 10s linear infinite;
    }

    .profile-picture:before,
    .profile-picture::before {
        content: '';
        filter: blur(1.5rem);
        opacity: 0.5;
    }

    @keyframes spin-this {
        to {
            transform: rotate(360deg);
        }
    }

    




    /* https://www.youtube.com/watch?v=ezP4kbOvs_E */

    .project-card {
        @apply relative w-[400px] h-[450px] bg-[#1A1A1A] p-8 rounded-lg;
    }

    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    .project-card::after,
    .project-card::before {
        content: '';
        position: absolute;
        inset: calc(-1 * var(--padding, 5px));
        background-image: conic-gradient(from var(--angle), transparent 70%, orange);
        border-radius: 14px;
        z-index: -1;
        animation: 10s spin linear infinite;
    }

    .project-card::before {
        filter: blur(1.5rem);
        opacity: 0.5;
    }

    .experience-card::after,
    .experience-card::before {
        content: '';
        position: absolute;
        inset: calc(-1 * var(--padding, 5px));
        background:
            conic-gradient(from var(--angle),
                transparent 70%,
                rgb(255, 140, 0),
                transparent 80%),
            conic-gradient(from calc(var(--angle) + 180deg),
                transparent 70%,
                rgb(255, 140, 0),
                transparent 80%);
        border-radius: 14px;
        z-index: -1;
        animation: 10s spin linear infinite;
    }

    .experience-card::before {
        filter: blur(1.5rem);
        opacity: 0.5;
    }

    @keyframes spin {
        to {
            --angle: 360deg;
        }
    }

    .bg-color {
        background: #272727;
    }

    .about-primary-color {
        color: #FFE400;
    }

    .experiences-primary-color {
        color: #14A76C;
    }

    .projects-primary-color {
        color: #FF625F;
    }

    .text-color-2 {
        color: #A2A2A2;
    }

    .text-color-1 {
        color: #CECECE;
    }

    .card-color {
        background: #1A1A1A;
    }

    .font-nunito {
        font-family: "nunito";
    }

    .font-crazy {
        font-family: "crazy";
    }

    .page-fade-in {
        animation: pageFadeIn 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes pageFadeIn {
        from {
            opacity: 0;
            transform: translateY(50px) scale(0.95);
            filter: blur(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0) scale(1);
            filter: blur(0);
        }
    }

}

/* body {
    background-color: #272727;
    margin: 0;
    min-height: 100vh;
} */